- if defined?(@chart)
  %h2
    = "#{@chart_group_name} / #{@chart.name}"
- else
  %h2= @chart_group_name

.container-fluid
  .row-fluid
    .span2
      %ul.nav.nav-pills.nav-stacked
        - @charts.each do |chart|
          %li{class: (defined?(@chart_name) and chart.name == @chart_name) ? 'active' : nil}
            = link_to chart.name, url(:charts, @service_name, @section_name, @chart_group_name, chart.name)

    .span10
      - if defined?(@chart)
        != @chart.render_morris_chart
      - else
        - @charts.each do |chart|
          %h3= chart.name
          != chart.render_morris_chart
